
.navBar {

    background-color: #b9d0f0;
    color: blue;
    display: flex;
    border: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: sticky;
    justify-content: flex-end;


}

.tabs {
    display: flex;
    /* justify-content: flex-end;
    list-style-type: none; */
}

.focusF{
    justify-content: flex-start;
}