@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

.login-container {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-image: 
    radial-gradient(rgb(241, 241, 242) 15.6%, transparent 15.6%),
    radial-gradient(rgb(241, 241, 242) 15.6%, transparent 15.6%);
    background-position: 0px 0px, 32px 32px;
    background-size: 64px 64px;
    background-color: rgb(247, 248, 248);
}

/*TOP NAVIGATION BAR*/

.nav-bar {  
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px 20px; 
    /*background-color: #ffffff;*/
  }
  
  .left-nav {
    display: flex;
    align-items: center; 
  }

  .logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.left-nav h1 {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    text-align: left;
    margin-right: 0.5rem;
}

.right-nav {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
  }

.question {
    width: 30px;
    height: auto;
  }

  /*POPUP BOX*/

  .popup{
    width: 300px;
    height: auto;
    color: white; 
    font-family: 'Poppins', sans-serif;
    background-color: grey;
    border-radius: 10px;
    position: fixed; 
    top: 7%; 
    right: 40px;
    padding: 15px;
    z-index: 10;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.right-nav:hover .popup {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/*LOGIN/ SIGNUP BOX*/

.box {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 100px;
}

/*LOGIN SIDE*/

.login {
  width: 600px; 
  height: 550px;
  background-color: white;
  text-align: center;
  padding: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.box .login h1 {
  font-size: 40px;
  font-weight: 700;
  color: #394562;
  margin-top: 120px;
  margin-bottom: 30px;
}

.input-group {
  display: flex;
  flex-direction: column; 
  width: 100%;
  align-items: center;
  gap: 25px; 
}

.login-button {
  margin-top: 30px;
  width: 100%;
  align-items: center;
  gap: 25px; 
}

/*SIGNUP SIDE*/

.signup {
  width: 400px;
  height: 550px;
  justify-content: space-between;
  background: linear-gradient(to right, #37425D, #748BC3);
  text-align: center; 
  padding: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.signup h1 {
  font-size: 40px;
  font-weight: bolder;
  color: white;
  margin-top: 80px;
}

.greet {
  margin-bottom: 180px;
}

.signup .greet p {
  font-size: 25px;
  font-weight: 600;
  color: white;
}

.signup-button p {
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.signup-button {
  margin-top: 30px;
  width: 100%;
  align-items: center;
  gap: 25px; 
}

.signup-button .btn {
  margin-top: 25px;
}

/*SIGNUP BUTTON*/

.btn-outline {
  border: 2px solid white; 
  color: white;
  background-color: transparent;  
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: none;
}

.btn-outline:hover {
  background-color: white; 
  border: 2px white;
  color:#37425D;
}