.project-list-container {
    margin-left: 220px;
    max-width: 80vw;
  }
  
  .project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .task-item {
    background: linear-gradient(#C1E5FB, #E5EDF2);
    width: 22vw;
    padding: 20px;
  }
  
  .task-item ul {
    flex: 1;
    min-height: 0;
  }
  
  .task-item li {
    padding: 4px 10px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
  }