@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');
@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(#eeefef 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), #eeefef calc(100% - 0.5px)), linear-gradient(90deg, #eeefef 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), #eeefef calc(100% - 0.5px));
    background-size: 40px 40px;
    background-color: #ffffff;
    border: 0.5px solid #eeefef;
}
  
  /* TASK LIST */
  .task-list-container {
    margin-left: 220px;
    margin-top: 20px;
    background: linear-gradient(#C1E5FB, #E5EDF2);
    border-radius: 10px;
    max-width: 400x;
    min-height: 100px;
  }
  
  .task-list-container ul {
    display: flex;
    flex-direction: column;  /* Stack items vertically */
    gap: 10px; /* Adds spacing between items */
    padding: 0;
  }
  
  .task-list-container li {
    background-color: #ffffff;
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

/* TASK FORM */
.task-form-container {
  margin-bottom: 70px;
  background: linear-gradient(#C1E5FB, #E5EDF2);
  border-radius: 10px;
  
}
