
html, body, .mainP {
    height: 100%;
    margin: 0;
    padding: 0;
}


.navBar {

    background: linear-gradient(to bottom, #9fb3cf, #ffff);
    color: rgb(47, 47, 165);
    display: flex;
    border: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: sticky;
    justify-content: flex-end;
    height: 100px;


}


ul li{
    display: inline-block;
    justify-content: end;
}

.logout {
    background: inherit;
    border: none;
    cursor: pointer;
    margin-right: 35px;
    /* padding: 0; */
    padding: 4px;
    border-radius: 10px;
    
    
}
.logout:hover{
    background-color: #9fb3cf;
    
    
}
.tabs {
    display: flex;
    /* justify-content: flex-end;
    list-style-type: none; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.rightNav{
    justify-content: flex;
    align-items: center;
    justify-content: space-between;
}

.rightNav ul{
    list-style-type: none;
}
.focusF{
    justify-content: flex;
    margin: 0;
    padding: 0;
    margin-left: 30px;
    font-size: 30px;
}

.themes {
    margin-right: -400px;
    font-size: 24px;
    position:relative;
}

.Sidebar{
    height: 100%;
    width: 200px;
    background-color: whitesmoke;
    position: fixed;
}

  
  .Sidebar ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    width: 100%;

  }
  
  .Sidebar .sidebar-item {
    color: black;
    display: flex;
    align-items: center; 
    margin: 10px 0; 
    cursor: pointer; 
    padding: 20px;
  }

  .Sidebar .sidebar-item:hover{
    background-color: rgba(0, 0, 0, 0.1); 
    width: 100%;
    transition: 0.8s ease;
  }
  
  .Sidebar .sidebar-icon {
    font-size: 24px; 
    margin-right: 10px;
    display: flex;
    align-items:center;
  }
  
  .Sidebar .sidebar-title {
    font-size: 14px; 
    display: flex;
    align-items: center; 
    margin-right: 20px;
  }
  .logout-container {
    position: relative;
    display: inline-block;
  }
  
  .logout {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .logout-text {
    margin-left: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .logout-dropdown {
    position: absolute;
    top: 45px; /* Adjust position below the button */
    right: 0;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100px;
    text-align: center;
    z-index: 100;
  }
  
  .logout-dropdown button {
    background: none;
    border: none;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .logout-dropdown button:hover {
    background: #f8f8f8;
  }
  