
html, body, .mainP {
    height: 100%;
    margin: 0;
    padding: 0;
}


.navBar {

    background: linear-gradient(to bottom, #9fb3cf, #ffff);
    color: rgb(47, 47, 165);
    display: flex;
    border: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: sticky;
    justify-content: flex-end;
    height: 100px;


}


ul li{
    display: inline-block;
    justify-content: end;
}

.logout {
    background: inherit;
    border: none;
    cursor: pointer;
    margin-right: 35px;
    /* padding: 0; */
    padding: 4px;
    border-radius: 10px;
    
    
}
.logout:hover{
    background-color: #9fb3cf;
    
    
}
.tabs {
    display: flex;
    /* justify-content: flex-end;
    list-style-type: none; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.rightNav{
    justify-content: flex;
    align-items: center;
    justify-content: space-between;
}

.rightNav ul{
    list-style-type: none;
}
.focusF{
    justify-content: flex;
    margin: 0;
    padding: 0;
    margin-left: 30px;
    font-size: 30px;
}

.themes {
    margin-right: -500px;
    font-size: 24px;
}

.Sidebar{
    height: 100%;
    width: 200px;
    background-color: whitesmoke;
    position: fixed;
}
.Sidebar {
    width: 200px; /* Adjust width as necessary */
  }
  
  .Sidebar ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column; /* Stack the list items vertically */
    align-items: flex-start;
    width: 100%;

  }
  
  .Sidebar .sidebar-item {
    display: flex;
    align-items: center; /* Ensure icons and text are aligned side by side */
    margin: 10px 0; /* Space between list items */
    cursor: pointer; /* Pointer cursor on hover */
    padding: 20px;
  }

  .Sidebar .sidebar-item:hover{
    background-color: rgba(0, 0, 0, 0.1); /* Hover background color */
    width: 100%;
  }
  
  .Sidebar .sidebar-icon {
    font-size: 24px; /* Adjust the icon size as needed */
    margin-right: 10px; /* Space between the icon and text */
    display: flex;
    align-items:center; /* Vertically align icons in case they vary in size */
  }
  
  .Sidebar .sidebar-title {
    font-size: 14px; /* Adjust the text size as needed */
    display: flex;
    align-items: center; /* Vertically align text with the icon */
    margin-right: 20px;
  }
  